<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/aop
    	                 http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<!--解决静态资源访问问题，@RestController找不到对应路径问题-->
	<mvc:annotation-driven/>
	<!-- 扫描指定包带@Controller注解的类-->
	<context:component-scan base-package="com.xes.live.*"></context:component-scan>

	<!-- 完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

    <!--Aop配置案例-->
    <bean id="audience" class="com.xes.live.core.AopTest.Audience"></bean>
    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="mupointcut" expression="execution(* com.xes.live.core.ioctest.*.sayHelloWorld(..) ) ||execution(* com.xes.live.core.AopBusiness.*.lookFilm(..) )"></aop:pointcut>
            <aop:before  method="silenceCellPhones" pointcut-ref="mupointcut"></aop:before>
            <aop:after   method="takeSeats" pointcut-ref="mupointcut"></aop:after>
            <aop:after-returning method="applause" pointcut-ref="mupointcut"></aop:after-returning>
            <aop:after-throwing method="demandRefund" pointcut-ref="mupointcut" ></aop:after-throwing>
        </aop:aspect>
    </aop:config>

	<!-- 拦截器配置 -->
    <mvc:interceptors>
        <!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/myPath/* -->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**" />-->
            <!--<mvc:exclude-mapping path="/resources/**"/>-->
            <!--<ref bean="stopWatchInterceptor" />-->
        <!--</mvc:interceptor>-->
        <!--拦截配置主从库-->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/resources/**"/>
            <ref bean="dataSourceInterceptor" />
        </mvc:interceptor>

        <!--&lt;!&ndash;<mvc:interceptor>&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:mapping path="/**"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<bean class="com.xes.live.interceptor.AllowOriginIntecepror"/>&ndash;&gt;-->
        <!--</mvc:interceptor>-->

    </mvc:interceptors>
    <bean id="dataSourceInterceptor"  class="com.xes.live.interceptor.DataSourceInterceptor"/>
    <!--<bean id="stopWatchInterceptor"  class="com.xes.live.interceptor.StopWatchInterceptor"/>-->
	</beans>